.carousel-inner:hover {
    overflow: visible !important;
}
.carousel-item a img:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

/* Intentar recrear el efecto que hace youtube cuando haces hover a un enlace a un video */
.anim-hover-video:hover .anim-video {
    transition: 1s;
    opacity: 100%;
    z-index: 0 !important;
}

.anim-video {
    z-index: -1 !important;
    transition: 0.5s;
    opacity: 0;
}

/* Controles para el video */
.anim-controles li:hover {
    transition: 0.2s;
    transform: scale(1.5);
}


/* Evitar que crezcan mucho los botones de la portada */
@media (width > 1000px) {
    .anim-hover-video a, .anim-hover-video button {
        font-size: 2em !important;
    }
}