// Declarar variables
$primary: #f1f1f1; // Color primario
$secondary: #ff0000;
$success: #ff0000;
$prefix: "isma-";

// Importar estilos
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Editar estilos
.active {
    color: #fff !important;
}

.btn-close {
    // Le cambia el color a blanco porque .btn-close-white no me gusta del todo
    filter: invert(1) !important;
}

.carousel-control-prev, .carousel-control-next {
    // Hace que esté mas centrado cuando estamos en movil
    top: 50% !important;
    bottom: unset !important;
}


input::placeholder {
    // Para los inputs oscuros
    color: gray !important;
}

.form-range::-webkit-slider-thumb {
    // Para cambiar el color de la bolita del form-range
    background-color: #ff0000 !important;
  }
// * {border: 1px solid yellow;}